{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block title %}Gene body mCH - Standalone View{% endblock %}
{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="./static/app.css">
{% endblock %}
{% block content %}
    <div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
    {%- endif %}
    {%- endwith %}
    <div class="panel panel-default">
        {% include "components/tsne_cluster.html" %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Gene level mCH</div>
        <div class="panel-body">
            <h4>Options</h4>
            <div style="display: none">
                <!-- Gene selection hidden -->
                <select id="geneName" style="width: 65%">
-                        <option value="{{ gene }}">gene</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3" id="mCHLevelCol">
                    <label for="levels" class="control-label">mCH Levels</label><br>
                    <input type="radio" name="levels" id="levelsOriginal" value="original">original</input><br>
                    <input type="radio" name="levels" id="levelsNormalized" value="normalized" checked>normalized</input>
                </div>
                <div class="col-md-3" id="percentileCol">
                    <label for="percentile" class="control-label">Color scale percentile</label><br>
                    <input id="percentile" type="text" value="" />
                </div>
            </div>

            {% include "components/mch_cluster.html" %}
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
  {{super()}}
  <link href="./static/bootstrap-slider.min.css" rel="stylesheet" />
  <script src="./static/bootstrap-slider.min.js"></script>
  <link href="./static/bootstrap-toggle.min.css" rel="stylesheet" />
  <script src="./static/bootstrap-toggle.min.js"></script>
  <script src="./static/plotly.min.js"></script>
  <script src="./static/customview.js"></script>
  <script>
    var species = "{{ species }}";
    var pSlider;
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $('#outlierToggle').bootstrapToggle();
        // Percentile changes are handled separately, as every change would result in a plot update, but we want
        // this to happen when sliding is actually stopped.
        pSlider = $("#percentile").slider({
            min: 0,
            max: 1,
            step: 0.05,
            value: [0.05, 0.95],
            tooltip: 'always',
            tooltip_position: 'bottom'
        }).on('slideStop', updateGeneElements).data('slider');
        updateGeneElements();
        loadClusterPlot();
    });

    $("#mCHLevelCol :input, #geneNameCol :input").change(function () {
        updateGeneElements();
    });
    $("#outlierToggle").change(function () {
        updateMCHBoxPlot();
    });

  </script>
{% endblock %}