<div class="row">
    <div class="col-sm-6"><h4>Gene body mCH distribution of selected gene within clusters</h4></div>
    <div class="col-sm-6" id="outlierOptions">
        <input id="outlierToggle" data-toggle="toggle" data-on="Outliers On" data-off="Outliers Off" type="checkbox">
        <br><input id="orthologsToggle" data-toggle="toggle" data-on="Ortholog On" data-off="Ortholog Off" type="checkbox">
    </div>
</div>
<div id="plot-mch-box">Loading...</div>