<div class="panel-heading"><b>{{ 'Mouse' if species == 'mmu' else 'Human'}}</b> Clustering{% if gene is defined %} - {{ gene }}{%  endif %}</div>
    <div class="panel-body">
        <div id="plot-cluster">Loading..</div>
    </div>